/* all doubt */
.all-doubts-area{
    margin: 80px;
    padding: 5px;
    font-family: serif;
}
.all-doubt-container{
    width: 100%;
    margin: auto;
}

/* each doubt */
.reach-doubt-cart{
    background: #C5CFD8;
    border: 3px solid #6f8da8;
    margin: 30px 10px;
    color: black;
    padding: 15px 20px;
    border-radius: 10px;
}
.doubt-uploader-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.doubt-description{
    border: 2px solid #6f8da8;
    padding: 15px;
    margin: 20px 0;
    border-radius: 10px;
}
.doubt-description h1{
    font-size: 30px;
}
.doubt-description p{
    font-size: 20px;
}
.doubt-ans{
    margin-top: 50px;
    background: #7d93a7;
    padding: 8px;
    border-radius: 10px;
}
.doubt-ans p{
    font-size: 18px;
}
.resolved{
    background-color: #7adbbb;
    font-size: 18px;
    text-align: center;
    width: 80%;
    margin: auto;
    padding: 5px 0;
    border-radius: 5px;
    border: 2px solid #62f5c4;
}
.comment-area{
    margin-top: 20px;
    border-top: 2px solid #6f8da8;
}

/* doubt form */
.comments-form-area{
    padding: 5px 10px;
}
.comments-form-container form{
    width: 100%;
    margin: auto;
    padding: 15px 0;

}
.comment-field{
    width: 85% !important;
    font-size: 18px;
    padding: 5px 8px;
    border-radius: 5px;
    background: #e2e2e2;
    border: 2px solid #6f8da8;
}
.comment-field:focus{
    outline: none;
    border: 2px solid #6f8da8;
}
.comment-button{
    font-size: 16px;
    padding: 5px 8px;
}

/* Comment design */
.each-comment{
    padding: 8px;
    margin-top: 15px;
    background:#E0E6EC;
    border-radius: 10px;
}
.each-comment h5{
    margin: 10px 0;
    font-size: 16px;
}